.movies-card-list {
  margin: 0;
  padding: 70px 70px 30px 70px;
  height: 1174px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  /* position: relative; */
}
@media screen and (max-width: 1023px) {
  .movies-card-list {
    padding: 70px 30px 0px 30px;
    height: auto;
  }
  /* .movies-card-list_active {
    height: auto;
  } */
  .movies-card-list__else {
    /* background-color: white; */
    display: flex;
    margin: 0;
    padding: 0;
    width: 768px;
    /* height: 166px; */
    /* border: 1px solid gray; */
    /* position: absolute; */
    /* top: 1520px; */
    /* left: 0; */
    /* z-index: 2; */
  }
  .movies-card-list__else-button {
    margin: 50px auto 80px;
    padding: 0;
    height: 36px;
    width: 320px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    border: none;
    background-color: white;
    color: #a0a0a0;
  }
}
@media screen and (max-width: 768px) {
  .movies-card-list {
    padding: 40px 10px 30px 10px;
  }
  .movies-card-list__else {
    width: 300px;
  }
}
