.movies-card {
  margin: 0;
  padding: 0;
  width: 364px;
  height: 271px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  background-color: #fdfdfd;
  position: relative;
}
.movies-card__image {
  margin: 0;
  padding: 0;
  width: 364px;
  height: 203px;
}
.movies-card__title {
  margin: 14px 0 9px 14px;
  padding: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}
.movies-card__time {
  margin: 0 0 14px 14px;
  padding: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #a0a0a0;
}
.movies-card__favourite {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: #f9f9f9;
  border-radius: 50%;
  border: none;
  background-image: url(../../images/icon__not_favourite.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 19px;
  right: 14px;
}
.movies-card__favourite_confirm {
  background-color: black;
  background-image: url(../../images/icon__favourite.svg);
}
@media screen and (max-width: 1023px) {
  .movies-card {
    width: 339px;
    height: 258px;
  }
  .movies-card__image {
    width: 339px;
    height: 190px;
  }
}
@media screen and (max-width: 768px) {
  .movies-card {
    width: 300px;
    height: 236px;
  }
  .movies-card__image {
    width: 300px;
    height: 168px;
  }
}
