.promo {
  margin: 20px 40px 0px 40px;
  padding: 0;
  width: 1200px;
  height: 376px;
  background-color: #F5F5F5;
  border-radius: 10px 10px 0 0 ;
}
.promo__title {
    padding: 160px 235px 100px 235px;
    margin: 0;
    width:730px;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
}