.search {
  margin: 0;
  padding: 0;
  height: 222px;
  display: flex;
  flex-direction: column;
}
.search__wrapper {
  margin: 0 0 83px 0;
  padding: 0;
  display: flex;
}
.search__form {
  margin: 80px 0 0 70px;
  padding: 0;
  width: 932px;
  height: 48px;
  border: 1.5px solid #aaaaaa;
  border-radius: 50px;
  position: relative;
}
.search__input {
  margin: 0 0 0 20px;
  padding: 0;
  color: #aaaaaa;
  width: 872px;
  height: 48px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.search__submit {
  position: absolute;
  top: 7px;
  padding: 0;
  width: 34px;
  height: 31px;
  background-color: #000000;
  border-radius: 50%;
  background-image: url(../../images/find.svg);
}
.search__label {
  margin: 95px 14px 0 41px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}
.search__checkbox {
  margin: 94px 0 0 0;
  padding: 0;
  width: 36px;
  height: 20px;
}

.search__switch {
  margin: 94px 0 0 0;
  padding: 0;
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}
.search__checkbox {
  margin: 0;
  padding: 0;
  opacity: 0;
  width: 0;
  height: 0;
}
.search__slider {
  margin: 0;
  padding: 0;
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.search__slider:before {
  border-radius: 50%;
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  left: 4px;
  top: 2px;
  /* bottom: 4px; */
  background-color: white;
  /* background-color: #2BE080; */
  /* background-color: #2196f3; */
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.search__checkbox:checked + .search__slider::before {
  background-color: #2be080;
}
.search__checkbox:disabled + .search__slider::before {
  height: 26px;
  width: 26px;
  border: 2px solid #ccc;
  background-color: rgba(192, 192, 192, 0.1);
}

.search__checkbox:checked + .search__slider {
  /* background-color: #2196f3; */
}
.search__checkbox:focus + .search__slider {
  box-shadow: 0 0 1px #2196f3;
}
.search__checkbox:checked + .search__slider::before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
.search__line {
  margin: 0 70px;
  padding: 0;
  width: 1140px;
  height: 0px;
  border-bottom: 1px solid #cccccc;
}
