.header {
  height: 74px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin: 0 0 0 70px;
  padding: 0;
  width: 38px;
  height: 38px;
  background-image: url(../../images/logo-diploma.svg);
}
.header__wrapper {
  padding: 0;
  margin: 3px 70px 0 0;
}
.header__button {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  outline: none;
  border: none;
}
.header__button_login {
  height: 32px;
  width: 76px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 3px;
}
.header__button_register {
  margin-right: 30px;
  height: 16px;
  width: 77px;
  background-color: #ffffff;
}

@media screen and (max-width: 1023px) {
  .header__logo {
    margin-left: 30px;
  }
  .header__wrapper {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    margin-left: 14px;
  }
  .header__wrapper {
    margin-right: 14px;
  }
  .header {
    max-width: 320px;
  }
}
